
/** 友情链接 start **/
.linkcat {
	padding-bottom: 20px;
}

.linkcat h2 {
	height: 1.1em;
    line-height: 1.1em;
    border-left: 4px solid #E63600;
    text-indent: 10px;
    font-size: 14px;
    font-weight: 200;
    color: #2A2A2A;
    margin-bottom: 20px;
}


.linkcat a {
    color: #333;

}
.linkcat .blogroll {
	margin-bottom: 20px;
	padding-left: 5px;
}
.linkcat .blogroll li {
	height: auto;
	width: 18.4%;
	margin-right: 1%;
	margin-bottom: 16px;
	font-size: 13px;
}

.linkcat .blogroll li img {
	margin-bottom: 10px;
	clear: both;
	display: block;
}

.linkcat a:hover {
    color: #999;
}

/** 友情链接 end **/

/** 回到顶部 start **/

#toTop {
    width: 24px;
    height: 24px;
    bottom: 112px;
    right: 8%;
    position: fixed;
    cursor: pointer;
    z-index: 999999;
}

/** 回到顶部 end **/

/** 加载动画 start **/

.spinner {
    display: none;
    margin: 100px auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #E63600;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/** 加载动画 start **/
.content-wrap .content-view img {
    height: auto !important; 
}
.content-wrap .content-view img.aligncenter {
    display: block;
    margin: 0 auto;
}

@media (max-width:568px) {
	.linkcat .blogroll li {
	    width: 31%;
		margin: 0 0.7% 16px;
	}
}